<ion-header>

  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Shortened URLs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item details-push *ngFor="let url of urls">
      {{url.shortUrl}}
      <p>
        {{url.originalUrl}}
      </p>

      <ion-note item-end (click)="getUrlStats(url)">
        view Details
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>