<ion-header no-border>

  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Generate URL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <p color="primary" ion-text text-center>
    paste the url in field and press generate to get shortened URL
  </p>

  <form [formGroup]="urlForm" (ngSubmit)="generate()">
    <ion-item-group>
      <ion-item no-lines>
        <ion-label color="primary" floating>
          Enter URL
        </ion-label>
        <ion-input [(ngModel)]="url" formControlName="url" type="url" name="url" required></ion-input>
      </ion-item>

    </ion-item-group>

    <p></p>

    <button ion-button block type="submit" color="primary" [disabled]="!urlForm.valid">Generate</button>
  </form>


  <hr>


  <p color="primary" text-center ion-text *ngIf="showUrl">
    <span ion-text color="danger" *ngIf="!shortUrl&&errMessage!=''">
      {{errMessage}}
    </span>

    <span *ngIf="shortUrl">
      URL Generated successfully :
      <strong>{{shortUrl.shortUrl}}</strong>
    </span>
  </p>

</ion-content>