<ion-header>

  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Stats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let stat of stats">

      <h4> {{stat.stats.method}}: {{stat.stats.ip}}</h4>
      <p>{{stat.stats.userAgent}}</p>
      <p *ngIf="stat.stats.location">
        {{stat.stats.location.city}}, {{stat.stats.location.region}}, {{stat.stats.location.country}}
      </p>
      <ion-note item-end>
        {{stat.createdAt | date}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>